body {
  margin: 0;
  padding: 0;
}
.ant-layout-content {
  display: flex;
  justify-content: center;
}
.ant-card-head-title {
  font-weight: 600;
}
.ant-result-403 {
  height: 94.5vh;
}
.active {
  color: #ffee69 !important;
}
